.app-main {
  margin-left: auto !important;
  margin-right: auto !important;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  .header-container {
    text-align: center;
    .header-buttons {
      display: inline-block;
      margin: 10px auto;
      opacity: 0;
      transition: opacity 500ms ease-in-out;
      &.always-shown { opacity: 1 !important; }
      &:hover {
        opacity: 1;
        transition-delay: 500ms;
      }
    }
  }

  .interactive {
    opacity: 1;
    transition: opacity 250ms ease-in-out;
    &.hidden {
      opacity: 0;
    }
    button {
      float: right;
    }
  }
}